* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-theme:#ececec;
    --dark-theme:#22303c;
    --light-theme-font-color:rgb(0,0,0);
    --dark-theme-font-color:rgb(255,255,255);
    font-family: 'Alata', sans-serif;
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 50px;
}
header{
    border: 1px black solid;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1/2;
}
main{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px black solid;    
}
.side-bare   {
    width: 100%;
    grid-row: 1 / 2;
    border: 1px black solid;    

}
footer{
    grid-row: 3/4;
    border: 1px black solid;    

}
input[type="checkbox"]{
    display: none;
}
.theme-switcher {
    width: 70px;
    height: 30px;
    border-radius: 15px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
}
.theme-switcher > div.cercle {
    height: 30px;
    background-color: black;
    width: 30px;
    border-radius: 50%;
    
    transition: transform 0.2s ease-in-out;
}
.moved {
    transform: translateX(30px);
}
.logo {
    font-size: 3rem;
}
body > header > div.logo > span:nth-child(2){
    color: #2abd67;
}